@media (min-width: 2100px) {

  .card-tile {
    width: 12vw;
    height: 60vh;
  }

  .modal {
    width: 40vw;
    max-width: 95vw;
    max-height: 95vw;
  }

  h2{
  font-family: 'Freight';
  }

  h3 {
 font-family: 'Freight';
  }

  button {
    padding: .4em;
  }


}

@media (min-width: 992px) and (max-width: 2100px) {

  .card-tile {
    width: 12vw;
    height: 60vh;
  }

  .modal {
    width: 40vw;
    max-width: 95vw;
    max-height: 95vw;
  }

  h2{
  font-family: 'Freight';
  }

  h3 {
 font-family: 'Freight';
  }

  button {
    padding: .4em;
  }
}

@media (min-width: 0px) and (max-width: 768px) {

  .card-tile {
    width: 70vw;
    height: 40vh;
  }

  .modal {
    width: 70vw;
    max-width: 90vw;
    /* max-height: 95vw; */
  }

  h2 {
  font-family: 'Playfair Display';
  }

  h3 {
  font-family: 'Playfair Display';
  }

  .img-source-header, h4 {
  font-family: 'Playfair Display';
  }

  button {
    margin: .4em;
    padding: .35em;
  }

  #reset {
    display: none;
  }

  nav {
    padding: .4em;
  }

  .nav-title {
    font-family: 'Playfair Display';
    font-size: small;
  }

  body{
    margin-top: 3.5em;
  }

}

@media (min-width: 768px) and (max-width: 992px) {

  .card-tile {
    width: 70vw;
    height: 40vh;
  }

  .modal {
    width: 70vw;
    max-width: 90vw;
    max-height: 95vw;
  }

  h2 {
  font-family: 'Playfair Display';
  }

  h3 {
  font-family: 'Playfair Display';
  }

  .img-source-header, h4 {
  font-family: 'Playfair Display';
  }

}
