@media (min-width: 800px) and (max-width: 1500px) {

  .card-tile {
    width: 12vw;
    height: 55vh;
  }

  .modal {
    width: 40vw;
    max-width: 80vw;
  }


}

@media (min-width: 0px) and (max-width: 800px) {

  .card-tile {
    width: 70vw;
    height: 40vh;
  }

  .modal {
    width: 70vw;
    max-width: 90vw;
  }


}
