@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/karla/v13/qkBbXvYC6trAT7RbLtyG5Q.woff2) format('woff2');
  /* unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; */
}
/* latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/karla/v13/qkBbXvYC6trAT7RVLtw.woff2) format('woff2');
  /* local('Karla'), local('Karla-Regular'),  */
  /* unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
}

/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(https://fonts.gstatic.com/s/playfairdisplay/v15/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Freight';
  font-kerning: 1em;
  src: url("/fonts/Freight Book.otf") format('opentype');
  /* unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; */
}

@font-face {
  font-family: 'Freight Italic';
  src: url("/fonts/Freight Italic.ttf") format('truetype');
  /* unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; */
}

/* @mediaprint */
/* TODO MAKE MOBLLE FRIENDLY */

@page{
  size: letter landscape;
  margin: 1cm;
}

/* <h1 class="block"> */
:root{
  --details-color: #848588;
  --spacetypes-color: #182a6b;
  --projects-color: #4e6d53;
  --atmospheres-color: #cca26b;
  --words-color: black;
  --sites-color: #848588;

  --background-color: #e8eaea;
  /* index color #e3e8e8; */

  --nav-color: #fafafa;
  --nav-border-color: #b8b8b8;

  --transition-duration: .5s;
	--transition-properties: transform, opacity, left, top, right, bottom, background;
}

/* .background {
  background: linear-gradient(#e66465, #9198e5);
} */

/* *, *::after, *::before {
  box-sizing: border-box;
} */

.background {
  /* gray gray
  #dbdbdb */
  /* yellow gray */
  background-color: var(--background-color);
  background-size: cover;
}

.background
{
  background-color: var(--background-color);
}

body{
  margin: 0;
  padding-bottom: 5em;
}

nav {
  background-color: var(--nav-color);
  /* border: solid 2px var(--nav-border-color); */
  padding: .2em;
  margin: 0;
  height: auto;
  width: 100%;
  vertical-align: top;
  border-bottom: solid 1px var(--nav-border-color);
  text-align: center;
  position: fixed;
  bottom: 0;
}

a {
  color: inherit;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    padding: 0.5% 0.25%;
    border-bottom: solid 1px var(--nav-border-color);
}

.nav-title {
  position: relative;
  display: inline;
  padding: .3em;
  justify-content: center;
  font-family: 'Freight';
  font-size: medium;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  color: var(--navtext-color);
}

body{
  margin-top: 5em;
}

h1 {
  font-family:  "Karla", sans-serif;
  font-size: x-large;
  font-weight: normal;
  color: white;
  text-align: center;
}

button {
  font-family:  "Karla", sans-serif;
  font-size: small;
  /* font-weight: bold; */
  /* margin: 1em; */
  padding: .4em;
  /* border-radius: .25rem; */
  border: 0;
  margin: .1em;
  cursor: pointer;
}

#reset {
  background-color: white;
  color: var(--background-color);
}

#reset:hover {
  color: white;
  background-color: var(--background-color);
}

#details {
  background-color: var(--details-color);
  color: white;
}

#details:hover {
  background-color: white;
  color: var(--details-color);
}

#spacetypes {
  background-color: var(--spacetypes-color);
  color: white;
}

#spacetypes:hover {
  background-color: white;
  color: var(--spacetypes-color);
}

#projects {
  background-color: var(--projects-color);
  color: white;
  box-shadow: 0;
}

#projects:hover {
  background-color: white;
  color: var(--projects-color);
}

/* TODO make implementation of hover more elegant */

#atmospheres {
  background-color: var(--atmospheres-color);
  color: white;
}

#atmospheres:hover {
  background-color: white;
  color: var(--atmospheres-color);
}

#words {
  background-color: var(--words-color);
  color: white;
  box-shadow: 0;
}

#words:hover {
  background-color: white;
  color: var(--words-color);
}

#sites {
  background-color: var(--sites-color);
  color: white;
  box-shadow: 0;
}

#sites:hover {
  background-color: white;
  color: var(--sites-color)
}

h2 {
  font-family: 'Freight';
  font-size: large;
  margin-top: 0;
  margin-bottom:.2em;
}

h3 {
  font-family: 'Freight';
  font-size: small;
  margin-top: .2em;
  margin-bottom: 1em;
}
  /* font-family: "Karla", Segoe U1, san-sans-serif;
  font-size: x-small;
  margin-top: .2em;

} */

h4 {
  font-family: "Karla", Segoe U1, san-sans-serif;
  font-size: x-small;
  margin-top: 1.5em;
  margin-bottom:.2em;
}

h5 {
  font-family: "Karla", Segoe U1, san-sans-serif;
  font-size: x-small;
  white-space: normal;
  margin: 0;
}

p {
  font-family: "Karla", Segoe U1, san-sans-serif;
  font-size: x-small;
  white-space: normal;
  margin-top: .02em;
  padding-top: .02em;
  justify-content: center;
}

#cards-container{
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-flow: row wrap;
}

.card-tile {
  display: inline-block;
  text-align: left;
  /* width: 8vw; */
  width: 12vw;
  height: 28vh;
  padding: 1em;
  border: 4px;
  margin: .4em;
  background-color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: var(--transition-duration);
  transition-property: var(--transition-properties);
}

/* .card-tile :last-child {
  align-self: end;
} */

.details.card-tile {
  background-color: white;
  color: var(--details-color);
  border: 3px solid var(--details-color);
}

.details.card-tile:hover {
  background-color: var(--details-color);
  color: white;
}

.atmospheres.card-tile {
  background-color: white;
  color: var(--atmospheres-color);
  border: 3px solid var(--atmospheres-color);
}

.atmospheres.card-tile:hover {
  background-color: var(--atmospheres-color);
  color: white;
}

.spacetypes.card-tile {
  background-color: white;
  color: var(--spacetypes-color);
  border: 3px solid var(--spacetypes-color);
}

.spacetypes.card-tile:hover {
  background-color: var(--spacetypes-color);
  color: white;
}

.words.card-tile {
  background-color: white;
  color: var(--words-color);
  border: 3px solid var(--words-color);
}

.words.card-tile:hover {
  background-color: var(--words-color);
  color: white;
}

.sites.card-tile {
  background-color: white;
  color: var(--sites-color);
  border: 3px solid var(--sites-color);
}

.sites.card-tile:hover {
  background-color: var(--sites-color);
  color: white;
}

.projects.card-tile {
  background-color: white;
  color: var(--projects-color);
  border: 3px solid var(--projects-color);
}

.projects.card-tile:hover {
  background-color: var(--projects-color);
  color: white;
}

.centerblock {
  display: block;
  text-align: center;
  width: auto;
  height: auto;
  padding: .4vw;
  border: 1em;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-color: inherit;
}

/* .card-tile:hover {
  background-color: var(--hover-color);
  color: white;
} */

/* .card-tile.projects{
  border: 4px solid var(--projects-color);
} */

.projects {
  color: var(--projects-color);
}

.spacetypes {
  color: var(--spacetypes-color);
}

.details {
  color: var(--details-color);
}

.atmospheres {
  color: var(--atmospheres-color);
}

.words {
  color: var(--words-color);
}

.sites {
  color: var(--sites-color);
}


.img-wrapper-container {
  align-items: end;
}

.img-wrapper {
  width: 8em;
  height: 6em;
  display: flex;
  justify-content: center;
  overflow: hidden;
}


.img-grid {
  width: 10em;
  max-height: 5em;
  object-fit: cover;
  align-self: end;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 100ms ease-in-out;
  border: 2px solid var(--spacetypes-color);
  padding: .5em;
  /* //draw above other things */
  z-index: 10;
  background-color: white;
  width: 30vw;
  max-width: 80vw;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

h2 < .modal {
  font-family: 'Freight';
  font-size: large;
  margin-top: .2em;
  margin-bottom:.2em;
}

.modal-header {
  padding:0;
  display: flex;
  justify-content: space-between;
  align-items: right;
  border-bottom: 1px;
}

.modal-header-box {
  display: block;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0;
  top: 0;

}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  transition: 200ms ease-in-out;
  pointer-events: all;
}

.tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-tag {
  flex: 1;
  text-align: center;
  border: 1px solid black;
  font-family:  "Karla", sans-serif;
  font-size: small;
  padding: .4em;
  margin: .4em;
  text-transform: uppercase;
}

.modal-img-grid{
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.modal-img {
  flex: 1;
  width: 30em;
  max-height: 20em;
  object-fit: cover;
  padding: 5px;
}

/* .centered {
  display: block;
  margin: 1em;
} */

/* margin {
  border-left-color: linear gradient(gold 10%, steelblue)
  border-right-color: linear gradient(steelblue 10%, green)
}
