@media (min-width: 4100px) and (max-width: 2500px) {

  .index-wrapper {
    grid-template-columns: 18vw 22vw 22vw 22vw;
    font-size: 5vw;
  }

}

@media (min-width: 1024px) and (max-width: 2100px) {

  .index-wrapper {
    grid-template-columns: 18vw 22vw 22vw 22vw;
  }

  .index-title {
    font-size: 5vw;
  }

}

@media (min-width: 0px) and (max-width: 768px) {

  .index-title {
    font-size: 8vh;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {

  .index-wrapper {
    display: grid;
  }

  .index-title {
    font-size: 8vh;
  }

}
