:root{
  --title-color: #182a6b;

  /* blue background color */
--background-color: #e2e9e9;
  /* gray background color */
  /* --background-color: #d5d4d4; */

  --navtext-color: var(--title-color);
  --navtext-current-color: white;

  /* blue nav color */
  --nav-color: #f1f1f1;
  /* gray nav color */
  /* --nav-color: #e8e7e7; */
  --nav-border-color: #b8b8b8;

}

/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(https://fonts.gstatic.com/s/playfairdisplay/v15/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* index styling for portrait mode on mobile */
@media only screen and (min-width: 0px) and (max-width: 768px) {

  html {
    background-color: #add8d8;
    width: 100%;
    height: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body {
    margin-left: 0;
    /* padding-bottom: 5em;
    margin-top: 5em; */
  }

  .mobile-show {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

  .page-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .web-show {
    display: none;
  }

  .index-wrapper {
    display: flex;
  }

  .index-title {
    font-size: 9vh;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    color: var(--title-color);
    text-align: center;
  }

  nav {
    background-color: var(--nav-color);
    /* border: solid 2px var(--nav-border-color); */
    padding: .2em;
    margin: 0;
    height: auto;
    width: 100%;
    vertical-align: top;
    border-bottom: solid 1px var(--nav-border-color);
    text-align: center;
    position: fixed;
    top: 0;
  }

  .nav-container {
      display: flex;
      justify-content: space-around;
      padding: 0.05% 0.25%;
      /* border-bottom: solid 1px var(--nav-border-color); */
  }

  .nav-title {
    position: relative;
    display: inline-block;
    padding: .3em;
    justify-content: center;
    font-family: 'Freight';
    font-size: medium;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    color: var(--navtext-color);
  }

  .side-nav-text-right, .side-nav-text-left {
    display: none;
  }

  .mobile-wrapper {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .text-wrapper {
    justify-content: center;
    align-items: center;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  footer {
    align-self: end;
  }
}

@font-face {
  font-family: 'Freight';
  src: url("/fonts/Freight Book.otf") format('opentype');
  /* unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; */
}

@font-face {
  font-family: 'Freight Italic';
  src: url("/fonts/Freight Italic.ttf") format('truetype');
  /* unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; */
}

/* STYLING FOR EVERYTHING OVER 769PX WIDE, AUGMENTED BY MEDIA QUERIES IN DIFF FILE */
@media only screen and (min-width: 768px) {
  .mobile-show {
    display: none;
  }

  body {
    margin-left: 0;
    /* padding-bottom: 5em;
    margin-top: 5em; */
  }

  .project-wrapper {
    display: block;
    margin-top: 4.5em;
    margin-left: 13em;
    margin-right: 13em;
    margin-bottom: 3em;
  }

  .textlist-wrapper {
    display: block;
    margin-top: 12vw;
    margin-left: 13em;
    margin-right: 13em;
    margin-bottom: 3em;
  }


  .svg-wrapper {
    flex: 20;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gif-grid-wrapper {
      display: grid;
      --cell: 50vw;
      --grid: repeat(2, var(--cell));
      grid-template: var(--grid) / var(--grid);
      grid-gap: 1em;
      justify-content: center;
  }

  .centered {
    display: flex;
    padding: .2em;
    text-align: center;
    width: auto;
    height: auto;
    justify-content: center;
  }

  .page-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-hide {
    opacity: 0;
  }

  .nav-hide:hover {
    opacity: 1;
    transition: .2s;
  }

  .side-nav {
    flex: 1 20px;
    align-items: center;
    position: absolute;
    left: 0;
  }

  .side-nav-text-right {
    text-align: center;
    font-family: 'Freight';
    font-size: medium;
    color: var(--title-color);
    padding: .2em;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .side-nav-text-left {
    /* writing-mode: vertical-rl;
    text-orientation: mixed; */
    text-align: center;
    font-family: 'Freight';
    font-size: medium;
    color: var(--title-color);
    padding: .2em;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .side-nav-text-right:hover, .side-nav-text-left:hover {
    color: white;
  }

  .index-wrapper {
    flex: 100vw;
    height: 90vh;
    /* comment display: grid out if i want a quick fix that doesnt fix hover condition */
    /* display: grid; */
    border: 1px dotted var(--title-color);
  }

  .index-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Freight';
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    color: var(--title-color);
  }

  .index-title:hover {
    font-family: 'Freight Italic';
    color: white;
    text-decoration-line: underline;
    cursor: pointer;
  }

  html {
    background-color: var(--background-color);
  }

  .white-background {
    background-color: white;
  }

  .text-wrapper {
    justify-content: center;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 1em;
    padding-left: 20vw;
    padding-right: 20vw;
  }

  .text-page-wrapper {
    margin-top: 4em;
  }
}

/* nav {
  background-color: var(--nav-color);
  border: solid 2px var(--nav-border-color);
} */

.nav-title {
  font-family: 'Freight';
  font-size: 5vw;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  color: var(--navtext-color);
}

.nav-title-current {
  font-family: 'Freight';
  font-size: large;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  color: var(--navtext-current-color);
}

.text-h {
  font-family: 'Freight';
  font-size: x-large;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-align: center;
  letter-spacing: .03em;
}

.text-h1 {
  font-family: 'Freight';
  font-size: xx-large;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-align: center;
  letter-spacing: .03em;
}


/* .text-h:hover {
  color: #f1e7e7;
} */

.text-p, .text-a {
  font-family: 'Freight';
  font-size: large;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-align: center;
  letter-spacing: .03em;
}

.text-a1 {
  font-family: 'Freight';
  font-size: xx-large;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-align: center;
  letter-spacing: .03em;
}


.text-q {
  font-family: 'Freight';
  font-size: small;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-align: center;
  letter-spacing: .03em;
  padding: 1em;
}

.text-h1{
  font-family: 'Freight';
  font-size: medium;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-align: center;
  letter-spacing: .03em;
  padding: .5em;
  padding-top: 3em;
}

a {
  color: inherit;
  padding: .3em;
  display: inline;
}

a:hover {
  font-style: italic;
  /* color: white; */
}

.a-nav {
  color: inherit;
  padding: 0;
}

a.text-a:hover {
  font-style: italic;
  background-color: white;
  color: var(--title-color);
}

.a-nav:hover {
  font-style: italic;
}

p {
  margin: .2em;
}

.google-slides-container {
    position: relative;
    width: 100%;
    margin-top: 1.2em;
    padding-left: 1em;
    overflow: hidden;
    pointer-events: auto;
}

iframe .google-slides-container {
    position: absolute;
    top: 5em;
    left: 0;
    width: 98%;
    height: 98%;
}

iframe#table{
    position: absolute;
    top: 5em;
    left: 20vw;
    width: 60%;
    height: 55%;
}

iframe#miro {
    display: block;
    width: 100%;
    height: 102vh;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 2em;
    text-align: center;
}

header, footer {
  text-align: center;
  font-family: 'Freight';
  font-size: medium;
  font-style: normal;
  font-weight: 400;
  font-kerning: .2em;
  color: var(--title-color);
  padding: .4em;
}

.archive-wrapper {
  flex: 20;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px dotted var(--title-color); */
}

.pdf-iframe{
  position: relative;
  border: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

nav {
  background-color: var(--nav-color);
  /* border: solid 2px var(--nav-border-color); */
  padding: .2em;
  margin: 0;
  height: auto;
  width: 100%;
  vertical-align: top;
  border-bottom: solid 1px var(--nav-border-color);
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 9;
}

body {
  margin-left: 0;
  /* padding-bottom: 5em;
  margin-top: 5em; */
}

.nav-container {
    display: flex;
    justify-content: space-around;
    padding: 0.05% 0.25%;
    /* border-bottom: solid 1px var(--nav-border-color); */
}

.nav-title {
  position: relative;
  display: inline-block;
  padding: .3em;
  justify-content: center;
  font-family: 'Freight';
  font-size: medium;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  color: var(--navtext-color);
}
