:root{
  --title-color: #182a6b;
  --background-color: #e1eeee;
  --nav-color: #ffffff;
  --nav-border-color: #848588;
  --navtext-current-color: white;
}

@media screen and (max-width: 768px) {
  .index-wrapper {
      display: flex;
    }
}

@font-face {
  font-family: 'Freight';
  src: url("/fonts/Freight Book.otf") format('opentype');
  /* unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; */
}

@font-face {
  font-family: 'Freight Italic';
  src: url("/fonts/Freight Italic.ttf") format('truetype');
  /* unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; */
}

.background {
  background-color: var(--background-color);
}

.white-background {
  background-color: white;
}


nav {
  background-color: var(--nav-color);
  border: solid 2px var(--nav-border-color);
}

.nav-title {
  font-family: 'Freight';
  font-size: 5vw;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  color: var(--navtext-color);
}

.nav-title-current {
  font-family: 'Freight';
  font-size: large;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  color: var(--navtext-current-color);
}

.text-p {
  font-family: 'Freight';
  font-size: xx-large;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-align: center;
  letter-spacing: .03em;
}

.text-h1{
  font-family: 'Freight';
  font-size: x-large;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-align: center;
  letter-spacing: .03em;
  padding: 1em;
}

a {
  color: inherit;
  padding: 0;
}

p {
  margin: .2em;
}

iframe {
  display: block;
  text-align: center;
  margin-left: 2em;
  margin-right: 2em;
  padding: 0;
}

header, footer {
  text-align: center;
  font-family: 'Freight';
  font-size: medium;
  font-style: normal;
  font-weight: 400;
  font-kerning: .2em;
  color: var(--title-color);
  padding: .4em;
}

.centered
{
  display: flex;
  padding: .2em;
  text-align: center;
  width: auto;
  height: auto;
  justify-content: center;
}

.page-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-nav {
  flex: 1 20px;
  align-items: center;
  position: absolute;
  left: 0;
}

.side-nav-text-right {
  /* writing-mode: vertical-rl;
  text-orientation: mixed; */
  text-align: center;
  font-family: 'Freight';
  font-size: medium;
  color: var(--title-color);
  padding: .2em;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.side-nav-text-left {
  /* writing-mode: vertical-rl;
  text-orientation: mixed; */
  text-align: center;
  font-family: 'Freight';
  font-size: medium;
  color: var(--title-color);
  padding: .2em;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.side-nav-text-right:hover, .side-nav-text-left:hover {
  color: white;
}

.index-wrapper {
  flex: 20;
  display: grid;
  grid-template-columns: 11.5em 11.5em 8em 8em 8.5em 11em;
  grid-template-rows: 5vw 30vw 5vw;
  border: 1px dotted var(--title-color);
}

.index-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Freight';
  font-size: xxx-large;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  color: var(--title-color);
}

.index-title:hover {
  font-family: 'Freight Italic';
  color: white;
  text-decoration-line: underline;
  cursor: pointer;
}

.text-wrapper {
  justify-content: center;
  align-items: center;
  padding-top: 3vw;
  padding-bottom: 3vw;
  padding-left: 20vw;
  padding-right: 20vw;
}

.archive-wrapper {
  flex: 20;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px dotted var(--title-color);
}

.pdf-iframe{
  position: relative;
  border: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
